<mat-card class="grid-container header" color="primary">
    <div class="grid-item-header"> Tipo </div>
    <div class="grid-item-header"> Nombre </div>
    <div class="grid-item-header"> Lvl </div>
</mat-card>

<cdk-virtual-scroll-viewport itemSize="50" class="cdk-scroll">
    <div class="grid" *cdkVirtualFor="let item of data">

        <a mat-button color="primary" class="w-100" (click)="emitSelect(item.id)">
            <mat-card class="grid-container">
                <div class="grid-item" > 
                    <mat-chip-list class="chip-flex" aria-label="selection" 
                    *ngFor=" let type of item?.type">
                        <mat-chip>{{type}}</mat-chip>
                    </mat-chip-list>
                </div>

                <div class="grid-item"> {{item?.name}} </div>
                <div class="grid-item"> {{item?.lvl}} </div>
            </mat-card>
        </a>

    </div>
</cdk-virtual-scroll-viewport>