<mat-card class="card-login">

  <app-title></app-title>
  
  <mat-card-content class="card-login-content">
    <form (ngSubmit)="submit()" [formGroup]="formLogin" >

      <mat-form-field appearance="outline" class="input-login">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username"
          placeholder="- - -" type="text" id="loginUser" 
          name="username" required
        />
        <mat-error *ngIf="controlForm('username')?.invalid">{{requiredError()}}</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="input-login">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password"
          placeholder="- - -" type="password" id="loginPassword" 
          name="password" required
        />
        <mat-error *ngIf="controlForm('username')?.invalid">{{requiredError()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="btn-login">Login</button>
      
    </form>
  </mat-card-content>

</mat-card>