<mat-card>
  <mat-card-title>Pokedex - Lite</mat-card-title>
  <mat-card-content>
    <form id="formLogin" class="" >
      <h1 class=""></h1>
      <br>

      <mat-form-field class="">
        <input matInput 
          placeholder="Username" type="text" id="loginUser" 
          name="username" class=""
      ></mat-form-field>
      <mat-form-field class="">
        <input matInput 
          placeholder="Password" type="password" id="loginPassword" 
          name="password" class=""
      ></mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions> 
    <button mat-stroked-button color="accent" type="submit">Login</button>
  </mat-card-actions>
      
</mat-card>