<mat-card class="grid-container" color="primary">
    <div class="grid-item-header"> Tipo </div>
    <div class="grid-item-header"> Nombre </div>
    <div class="grid-item-header"> Lvl </div>
</mat-card>

<div class="grid" *ngFor="let item of data">

    <a mat-button color="primary" class="w-100" (click)="emitSelect(item.id)">
        <mat-card class="grid-container">
            <div class="grid-item"> {{item?.type}} </div>
            <div class="grid-item"> {{item?.name}} </div>
            <div class="grid-item"> {{item?.lvl}} </div>
        </mat-card>
    </a>

</div>