@import '__custom';
@import '__scroll';

html, body { 
    max-height: 100vh; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.public{
    margin: 0 auto;
    margin-top: 5vh;
    align-items: stretch;
    justify-content: center;
    width: 80vw;
    min-height: 90vh;
}

