@import '__custom';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.public{
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    width: 80vw;
    min-height: 50vh;
}